{% extends 'base.html.twig' %}

{% block title %}Compagny index{% endblock %}

{% block body %}
    <h1>Compagny index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Siret</th>
                <th>Adress</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compagny in compagnies %}
            <tr>
                <td>{{ compagny.id }}</td>
                <td>{{ compagny.name }}</td>
                <td>{{ compagny.siret }}</td>
                <td>{{ compagny.adress }}</td>
                <td>{{ compagny.zipCode }}</td>
                <td>{{ compagny.city }}</td>
                <td>
                    <a href="{{ path('compagny_show', {'id': compagny.id}) }}">show</a>
                    <a href="{{ path('compagny_edit', {'id': compagny.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compagny_new') }}">Create new</a>
{% endblock %}
